
{{!-- Navigation --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    {{#link-to "index" class="navbar-brand"}}
      Artifact Uprising
    {{/link-to}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse">
          {{#link-to "checkout" class="btn btn-primary"}}
            <FaIcon @icon="shopping-cart" /> <span class="badge badge-light">{{this.application.cart.products.length}}</span>              
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</nav>

{{!-- Page Content --}}
<div class="container">
  {{!-- Jumbotron Header --}}
  {{#if this.application.cart.cartIsEmpty}}
    <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">It looks like your cart is empty! Add them from the {{#link-to "index"}}home page{{/link-to}}!</p>
    </header>
  {{/if}}

  {{outlet}}
</div>